PDGA_S3_BUCKET=
PDGA_DDB_TABLE=
PDGA_DDB_STATUS_END_DATE_GSI=gsi_status_end_date

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

ATHENA_DATABASE=pdga_analytics
ATHENA_WORKGROUP=pdga-analytics
ATHENA_RESULTS_S3_URI=
ATHENA_SOURCE_SCORED_TABLE=scored_rounds
ATHENA_REPORTING_BASE_TABLE=reporting_base_rounds


PIPELINE_IMAGE_TAG=latest
PIPELINE_LOG_LEVEL=INFO
PIPELINE_SCHEDULE_EXPRESSION=cron(0 7 * * ? *)
PRODUCTION_TRAINING_REQUEST_FINGERPRINT=

PIPELINE_MONITOR_EMAIL_FROM=
PIPELINE_MONITOR_EMAIL_TO=
PIPELINE_MONITOR_SES_IDENTITY=
PIPELINE_MONITOR_SES_REGION=us-east-2
PIPELINE_MONITOR_METRIC_DELAY_SECONDS=120
PIPELINE_MONITOR_ATHENA_PRICE_PER_TB_SCANNED=5.0
PIPELINE_MONITOR_FARGATE_VCPU_PRICE_PER_SECOND=0.000011244
PIPELINE_MONITOR_FARGATE_MEMORY_GB_PRICE_PER_SECOND=0.000001235